<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block settingContent %} {{ categoryDetails.name }} {{ post.title }} {{ category.name }} {{ page.title }} - {{ settings.title }} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Yazılım uzmanı, amatör fotoğrafçı. Standart bir yaşam.  "/>
    <meta name="author" content="Can Camgöz"/>
    {% include 'blog/scripts.html' %}
</head>
<body>

<div id="wrapper">


    <!-- start header -->
    <header>
        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="span6">
                    </div>
                    <div class="span6">

                        <ul class="social-network">
                            <li><a href="http://fb.com/{{ settings.fbUrl }}" target="_blank" data-placement="bottom" title="Facebook"><i
                                    class="icon-facebook icon-white"></i></a></li>
                            <li><a href="https://www.twitter.com/{{ settings.twUrl }} " target="_blank" data-placement="bottom" title="Twitter"><i
                                    class="icon-twitter icon-white"></i></a></li>
                            <li><a href="https://linkedin.com/in/{{ settings.liUrl }} " target="_blank" data-placement="bottom" title="Linkedin"><i
                                    class="icon-linkedin icon-white"></i></a></li>
                            <li><a href="https://instagram.com/{{ settings.inUrl }} " target="_blank" data-placement="bottom" title="Instagram"><i
                                    class="icon-instagram  icon-white"></i></a></li>
                            <li><a href="https://github.com/{{ settings.gitUrl }} " target="_blank" data-placement="bottom" title="Github"><i
                                    class="icon-github icon-white"></i></a></li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">


            <div class="row nomargin">
                <div class="span4">
                    <div class="logo">
                        <a href="/"><img src="/static/img/logo.png" alt=""/></a>
                    </div>
                </div>
                <div class="span8">
                    <div class="navbar navbar-static-top">
                        <div class="navigation">
                            <nav>
                                <ul class="nav topnav">
                                    <li class="dropdown active">
                                        <a href="/home"><i class="icon-home"></i> Home </a>
                                    </li>
                                    {% block pageList %}
                                        {% for p in pages %}
                                            <li>
                                                <a href="{% url 'pageDetail' pk=p.pk %}">{{ p.title }}</a>
                                            </li>
                                        {% endfor %}
                                    {% endblock %}
                                    <li><a href="/photo">Photos</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- end navigation -->
                    </div>
                </div>
            </div>
        </div>
    </header>