{% include 'blog/head.html' %}
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="inner-heading">
                    <ul class="breadcrumb">
                        <li><a href="/index">Home</a> <i class="icon-angle-right"></i></li>
                        <li class="active">Blog</li>
                    </ul>
                    <h2>Blog</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div class="container">
        <div class="row">

            <div class="span8">

               {% include 'blog/post_list.html' %}

                <div id="pagination">
                    <span class="all">Page 1 of 3</span>
                    <span class="current">1</span>
                    <a href="#" class="inactive">2</a>
                    <a href="#" class="inactive">3</a>
                </div>
            </div>

            <div class="span4">

                <aside class="right-sidebar">

                    <div class="widget">
                        <form>
                            <div class="input-append">
                                <input class="span2" id="appendedInputButton" type="text" placeholder="Type here">
                                <button class="btn btn-theme" type="submit">Search</button>
                            </div>
                        </form>
                    </div>

                    <div class="widget">

                        <h5 class="widgetheading">Categories</h5>

                        <ul class="cat">
                            {% block categories %}
                                {% for cat in categorys %}
                                    <li><i class="icon-angle-right"></i> <a href="#">{{ cat.name }}</a></li>
                                {% endfor %}
                            {% endblock %}
                        </ul>
                    </div>

                    <div class="widget">
                        <div class="tabs">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#one" data-toggle="tab"><i class="icon-star"></i>
                                    Popular</a></li>
                                <li><a href="#two" data-toggle="tab">Recent</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="one">
                                    <ul class="popular">
                                        <li>
                                            <img src="static/img/dummies/blog/small/1.jpg" alt=""
                                                 class="thumbnail pull-left"/>
                                            <p><a href="#">Dorlorem ipsum et mea dolor sit amet</a></p>
                                            <span>20 June, 2013</span>
                                        </li>
                                        <li>
                                            <img src="static/img/dummies/blog/small/2.jpg" alt=""
                                                 class="thumbnail pull-left"/>
                                            <p><a href="#">Fierent adipisci iracundia est ei, usu timeam persius ea</a>
                                            </p>
                                            <span>20 June, 2013</span>
                                        </li>
                                        <li>
                                            <img src="static/img/dummies/blog/small/3.jpg" alt=""
                                                 class="thumbnail pull-left"/>
                                            <p><a href="#">Usu ea justo malis, pri quando everti electram ei</a></p>
                                            <span>20 June, 2013</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane" id="two">
                                    <ul class="recent">
                                        <li>
                                            <p><a href="#">Dorlorem ipsum et mea dolor sit amet</a></p>
                                        </li>
                                        <li>
                                            <p><a href="#">Fierent adipisci iracundia est ei, usu timeam persius ea</a>
                                            </p>
                                        </li>
                                        <li>
                                            <p><a href="#">Usu ea justo malis, pri quando everti electram ei</a></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="widget">

                        <h5 class="widgetheading">Video widget</h5>
                        <div class="video-container">
                        </div>
                    </div>

                    <div class="widget">
                        <h5 class="widgetheading">Flickr photostream</h5>
                        <div class="flickr_badge">
                            <script type="text/javascript"
                                    src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=34178660@N03"></script>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="widget">

                        <h5 class="widgetheading">Text widget</h5>
                        <p>
                            Lorem ipsum dolor sit amet, quo everti torquatos rationibus an, graeci splendide mel cu. Sed
                            ad vidisse eruditi maluisset, et duo mazim placerat adipiscing.
                        </p>

                    </div>
                </aside>
            </div>

        </div>
    </div>
</section>

{% include 'blog/footer.html' %}
