{% include 'blog/head.html' %}
<section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="inner-heading">
              <ul class="breadcrumb">
                <li><a href="/home">Home</a> <i class="icon-angle-right"></i></li>
                <li class="active">Photos</li>
              </ul>
              <h2>Photos</h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span12">
            <ul class="portfolio-categ filter">
              <li class="all active"><a href="#">All</a></li>
              {% block categoryList %}
                  {% for category in categorys %}
                    <li class="{{ category.name }}"><a href="#" title="{{ category.name }}">{{ category.name }}</a></li>
                  {% endfor %}

                {% endblock %}
            </ul>

            <div class="clearfix"></div>
            <div class="row">
              <section id="projects">
                <ul id="thumbs" class="grid cs-style-4 portfolio">

                  {% block PhotoList %}
                    {% for photo in photos %}
                     <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span4 design" data-id="id-0" data-type="{{ photo.category }}">
                    <div class="item">
                      <figure>
                        <div><img src="{{ photo.photoUrl }}" alt="" /></div>
                        <figcaption>
                          <div>
                            <span>
											<a href="{{ photo.photoUrl }}" data-pretty="prettyPhoto[gallery1]" title="{{ photo.title }}"><i class="icon-plus icon-circled icon-bglight icon-2x"></i></a>
											</span>
                            <span>
											<a href="#"><i class="icon-file icon-circled icon-bglight icon-2x"></i></a>
											</span>
                          </div>
                        </figcaption>
                      </figure>
                    </div>
                  </li>
                  <!-- End Item Project -->
                    {% endfor %}

                    {% endblock %}




                </ul>
              </section>

            </div>
          </div>
        </div>
      </div>
    </section>

{% include 'blog/footer.html' %}
