{% block content %}
    {% for post in posts %}

        <article>
              <div class="row">

                <div class="span8">
                  <div class="post-link">
                    <div class="post-heading">
                      <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
                    </div>
                  </div>
                  <div class="meta-post">
                    <ul>
                      <li><i class="icon-link"></i></li>
                      <li>By <a href="#" class="author">Admin</a></li>
                      <li>On <a href="#" class="date">{{ post.published_date }}</a></li>
                      <li>Category: <a href="#">{{ post.category }}</a></li>
                    </ul>
                  </div>
                  <div class="post-entry">
                    <p>
                    {{ post.text|linebreaksbr }}
                    </p>
                    <a href="#" class="readmore">Read more <i class="icon-angle-right"></i></a>
                  </div>
                </div>
              </div>
            </article>
    {% endfor %}
{% endblock %}


