{% block content %}
    {% for post in posts %}

        <article>
            <div class="row">

                <div class="span8">
                    <div class="post-link">
                        <div class="post-heading">
                            <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
                        </div>
                    </div>
                    <div class="meta-post">
                        <ul>
                            <li><i class="icon-link"></i></li>
                            <li>By <a href="#" class="author">Admin</a></li>
                            <li>On <a href="#" class="date">{{ post.published_date }}</a></li>
                            <li>Category: <a
                                    href="{% url 'categoryDetail' pk=post.category_id %}">{{ post.category }}</a></li>
                        </ul>
                    </div>
                    <div class="post-entry">
                        <p>
                                  {{ post.text|safe|truncatewords:"50"|linebreaks }}...
                        </p>
                        <a href="#" class="readmore">Read more <i class="icon-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </article>
    {% endfor %}



    {% if posts.has_other_pages %}
  <div id="pagination">
    {% if posts.has_previous %}
      <span><a href="?page={{ posts.previous_page_number }}">&laquo;</a></span>
    {% else %}
        <span class="disabled"><span>&laquo;</span></span>
    {% endif %}
    {% for i in posts.paginator.page_range %}
      {% if posts.number == i %}
        <span class="current">{{ i }} </span>
      {% else %}
        <span><a href="?page={{ i }}">{{ i }}</a></span>
      {% endif %}
    {% endfor %}
    {% if posts.has_next %}
      <span><a href="?page={{ posts.next_page_number }}">&raquo;</a></span>
    {% else %}
      <span class="disabled"><span>&raquo;</span></span>
    {% endif %}
  </div>
{% endif %}
{% endblock %}


