{% block content %}
    {% for post in posts %}

        <article>
            <div class="row">

                <div class="span8">
                    <div class="post-link">
                        <div class="post-heading">
                            <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
                        </div>
                    </div>
                    <div class="meta-post">
                        <ul>
                            <li><i class="icon-link"></i></li>
                            <li>By <a href="#" class="author">Admin</a></li>
                            <li>On <a href="#" class="date">{{ post.published_date }}</a></li>
                            <li>Category: <a
                                    href="{% url 'categoryDetail' pk=post.category_id %}">{{ post.category }}</a></li>
                        </ul>
                    </div>
                    <div class="post-entry">
                        <p>
                                  {{ post.text|safe|truncatewords:"50"|linebreaks }}...
                        </p>
                        <a href="#" class="readmore">Read more <i class="icon-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </article>
    {% endfor %}
    <div id="pagination">
{% with posts.count 5 1  as name %}
        <span class="all">Page 1 of {% widthratio posts.count 5 1 %} </span>
        <span class="current">1<a href="/home/0/"></a></span>
        {% for sayi in test %}
        <a href="/home/{{ forloop.counter }}/" class="inactive">{{ forloop.counter|add:1 }}</a>
        {% endfor %}
    {% endwith %}
    </div>
{% endblock %}


