<div class="span4">

    <aside class="right-sidebar">

        <div class="widget">
            <form action="/search/" method="get">
                <div class="input-append">
                    <input class="span2" id="appendedInputButton" type="text" name="q" placeholder="Type here">
                    <button class="btn btn-theme" type="submit">Search</button>
                </div>
            </form>
        </div>

        <div class="widget">

            <h5 class="widgetheading">Categories</h5>

            <ul class="cat">
                {% block categories %}
                    {% for cat in categorys %}
                        <li><i class="icon-angle-right"></i> <a
                                href="{% url 'categoryDetail' pk=cat.pk %}">{{ cat.name }}</a></li>
                    {% endfor %}
                {% endblock %}
            </ul>
        </div>

        <div class="widget">
            <div class="tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#one" data-toggle="tab"><i class="icon-star"></i>
                        Popular</a></li>
                    <li><a href="#two" data-toggle="tab">Recent</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="one">
                        <ul class="popular">
                            {% for pop in populerPost %}
                                <li>

                                <p><a href="#">{{ pop.adet }}</a></p>
                                <span>20 June, 2013</span>
                            </li>
                            {% endfor %}


                            <li>
                                <img src="static/img/dummies/blog/small/2.jpg" alt=""
                                     class="thumbnail pull-left"/>
                                <p><a href="#">Fierent adipisci iracundia est ei, usu timeam persius ea</a>
                                </p>
                                <span>20 June, 2013</span>
                            </li>
                            <li>
                                <img src="static/img/dummies/blog/small/3.jpg" alt=""
                                     class="thumbnail pull-left"/>
                                <p><a href="#">Usu ea justo malis, pri quando everti electram ei</a></p>
                                <span>20 June, 2013</span>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="two">
                        <ul class="recent">
                            <li>
                                <p><a href="#">Dorlorem ipsum et mea dolor sit amet</a></p>
                            </li>
                            <li>
                                <p><a href="#">Fierent adipisci iracundia est ei, usu timeam persius ea</a>
                                </p>
                            </li>
                            <li>
                                <p><a href="#">Usu ea justo malis, pri quando everti electram ei</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="widget">

            <h5 class="widgetheading">Text widget</h5>
            <p>
                Lorem ipsum dolor sit amet, quo everti torquatos rationibus an, graeci splendide mel cu. Sed
                ad vidisse eruditi maluisset, et duo mazim placerat adipiscing.
            </p>

        </div>
    </aside>
</div>